.git/hooks/applypatch-msg.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/commit-msg.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/post-update.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/pre-applypatch.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/pre-commit.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/pre-merge-commit.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/pre-push.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/pre-receive.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/push-to-checkout.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/sendemail-validate.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/update.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/fsmonitor-watchman.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/pre-rebase.sample filter=lfs diff=lfs merge=lfs -text
.git/hooks/prepare-commit-msg.sample filter=lfs diff=lfs merge=lfs -text
.git/info/exclude filter=lfs diff=lfs merge=lfs -text
.git/description filter=lfs diff=lfs merge=lfs -text
.git/refs/heads/main filter=lfs diff=lfs merge=lfs -text
.git/refs/remotes/origin/HEAD filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-fdad141816ad36d149b671fe5a125bbf9af9098b.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-fdad141816ad36d149b671fe5a125bbf9af9098b.rev filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-fdad141816ad36d149b671fe5a125bbf9af9098b.idx filter=lfs diff=lfs merge=lfs -text
.git/packed-refs filter=lfs diff=lfs merge=lfs -text
.git/logs/refs/remotes/origin/HEAD filter=lfs diff=lfs merge=lfs -text
.git/logs/refs/heads/main filter=lfs diff=lfs merge=lfs -text
.git/logs/HEAD filter=lfs diff=lfs merge=lfs -text
.git/HEAD filter=lfs diff=lfs merge=lfs -text
.git/config filter=lfs diff=lfs merge=lfs -text
.git/index filter=lfs diff=lfs merge=lfs -text
Examenes/Curso filter=lfs diff=lfs merge=lfs -text
22-23/Enunciado filter=lfs diff=lfs merge=lfs -text
del filter=lfs diff=lfs merge=lfs -text
examen filter=lfs diff=lfs merge=lfs -text
parcial.pdf filter=lfs diff=lfs merge=lfs -text
primer filter=lfs diff=lfs merge=lfs -text
parcial-extra.pdf filter=lfs diff=lfs merge=lfs -text
segundo filter=lfs diff=lfs merge=lfs -text
23-24/20231027 filter=lfs diff=lfs merge=lfs -text
Parcial.pdf filter=lfs diff=lfs merge=lfs -text
23-24/Examen filter=lfs diff=lfs merge=lfs -text
Parcial_ filter=lfs diff=lfs merge=lfs -text
Test filter=lfs diff=lfs merge=lfs -text
(2 filter=lfs diff=lfs merge=lfs -text
puntos)_ filter=lfs diff=lfs merge=lfs -text
Revisión filter=lfs diff=lfs merge=lfs -text
intento filter=lfs diff=lfs merge=lfs -text
_ filter=lfs diff=lfs merge=lfs -text
AEP2324.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/Examenes filter=lfs diff=lfs merge=lfs -text
ASO filter=lfs diff=lfs merge=lfs -text
- filter=lfs diff=lfs merge=lfs -text
Legacy/2016-2017/ASO-20161110-primer filter=lfs diff=lfs merge=lfs -text
Legacy/2016-2017/ASO-20161219-segundo filter=lfs diff=lfs merge=lfs -text
Legacy/2016-2017/ASO-20170116-ordinaria-p1.pdf filter=lfs diff=lfs merge=lfs -text
Legacy/2016-2017/ASO-20170116-ordinaria-p2.pdf filter=lfs diff=lfs merge=lfs -text
Legacy/2017-2018/ASO-20171116-parcial.pdf filter=lfs diff=lfs merge=lfs -text
Legacy/2017-2018/ASO-20180122-ordinaria-p1.pdf filter=lfs diff=lfs merge=lfs -text
Legacy/2017-2018/ASO-20180122-ordinaria-p2.pdf filter=lfs diff=lfs merge=lfs -text
Legacy/Enunciados filter=lfs diff=lfs merge=lfs -text
Examenes/2011/examen-20110119-primera_parte.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2011/examen-20120119-segunda_parte.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2011/examen-20120120-primera_parte.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2011/examen-20120120-segunda_parte.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2011/Primera_Parte_ExtraordinariaJulio03072012.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2011/primerparcial_20111114.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2011/segundoparcial_20120109.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2012/ASO-DiciembreExtraordinaria_2012.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2012/ASO-Ordinaria_Primera_Parte_20130114.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2012/ASO-Ordinaria_Segunda_Parte_20130114.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2012/ASO-PrimerParcial_Curso2012-2013_Grupo1.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2012/ASO-SegundoParcial2012.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2012/examen-aso filter=lfs diff=lfs merge=lfs -text
extraordinarioJulio03072012-primera_part.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2013/ASO-20131104-parcial_1314.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2013/ASO-20131121-ExamenConvocatoriaEspecial.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2013/ASO-20131220-segundo-parcial-EN.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2013/ASO-20131220-segundo-parcial.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2013/ASO-20140113-convocatoria filter=lfs diff=lfs merge=lfs -text
ordinaria-PARTE filter=lfs diff=lfs merge=lfs -text
1.pdf filter=lfs diff=lfs merge=lfs -text
2.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2013/ASO-20140703-Convocatoria filter=lfs diff=lfs merge=lfs -text
Extraordinaria.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20140113-convocatoria filter=lfs diff=lfs merge=lfs -text
1-EN.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20141103-parcial_1415.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20141104-parcial_1415.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20141215-parcial.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20141216-parcial.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20150123-ordinaria-parte1.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20150123-ordinaria-parte2.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2014/ASO-20150629-extraordinaria.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2016/ASO-20161110-primer filter=lfs diff=lfs merge=lfs -text
Examenes/2016/ASO-20161219-segundo filter=lfs diff=lfs merge=lfs -text
Examenes/2016/ASO-20170116-ordinaria-p1.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2016/ASO-20170116-ordinaria-p2.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2017/ASO-20171116-parcial.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2017/ASO-20180122-ordinaria-p1.pdf filter=lfs diff=lfs merge=lfs -text
Examenes/2017/ASO-20180122-ordinaria-p2.pdf filter=lfs diff=lfs merge=lfs -text
git-update.sh filter=lfs diff=lfs merge=lfs -text
Practicas/Practica2/Práctica filter=lfs diff=lfs merge=lfs -text
Practicas/Practica2/comandos.txt filter=lfs diff=lfs merge=lfs -text
Practicas/Practica3/Práctica3.html filter=lfs diff=lfs merge=lfs -text
Practicas/Practica3/comandos.txt filter=lfs diff=lfs merge=lfs -text
Practicas/Practica4/Práctica filter=lfs diff=lfs merge=lfs -text
4.1.pdf filter=lfs diff=lfs merge=lfs -text
4.2.pdf filter=lfs diff=lfs merge=lfs -text
4.3.pdf filter=lfs diff=lfs merge=lfs -text
4.4.pdf filter=lfs diff=lfs merge=lfs -text
Practicas/Practica4/Práctica filter=lfs diff=lfs merge=lfs -text
4.5.pdf filter=lfs diff=lfs merge=lfs -text
Practicas/Practica4/comandos.txt filter=lfs diff=lfs merge=lfs -text
Practicas/Practica5/Práctica filter=lfs diff=lfs merge=lfs -text
5.1.pdf filter=lfs diff=lfs merge=lfs -text
5.2.pdf filter=lfs diff=lfs merge=lfs -text
5.3.pdf filter=lfs diff=lfs merge=lfs -text
Practicas/Practica5/comandos.txt filter=lfs diff=lfs merge=lfs -text
Practicas/Practica6/Práctica filter=lfs diff=lfs merge=lfs -text
6.pdf filter=lfs diff=lfs merge=lfs -text
Practicas/Practica6/comandos.txt filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-00 filter=lfs diff=lfs merge=lfs -text
Objetivos filter=lfs diff=lfs merge=lfs -text
de filter=lfs diff=lfs merge=lfs -text
aprendizaje filter=lfs diff=lfs merge=lfs -text
tema filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-01 filter=lfs diff=lfs merge=lfs -text
Trabajar filter=lfs diff=lfs merge=lfs -text
con filter=lfs diff=lfs merge=lfs -text
GNU-Linux.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-02 filter=lfs diff=lfs merge=lfs -text
Chuleta filter=lfs diff=lfs merge=lfs -text
órdenes filter=lfs diff=lfs merge=lfs -text
UNIX-Linux.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-03 filter=lfs diff=lfs merge=lfs -text
La filter=lfs diff=lfs merge=lfs -text
figura filter=lfs diff=lfs merge=lfs -text
administrador filter=lfs diff=lfs merge=lfs -text
sistema.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-04 filter=lfs diff=lfs merge=lfs -text
FHS, filter=lfs diff=lfs merge=lfs -text
organización filter=lfs diff=lfs merge=lfs -text
directorios filter=lfs diff=lfs merge=lfs -text
en filter=lfs diff=lfs merge=lfs -text
Linux.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-05 filter=lfs diff=lfs merge=lfs -text
Filesystem filter=lfs diff=lfs merge=lfs -text
Hierarchy filter=lfs diff=lfs merge=lfs -text
Standard filter=lfs diff=lfs merge=lfs -text
v3.0.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema1/ASO-01-06 filter=lfs diff=lfs merge=lfs -text
Manejo filter=lfs diff=lfs merge=lfs -text
la filter=lfs diff=lfs merge=lfs -text
configuración filter=lfs diff=lfs merge=lfs -text
sistema, filter=lfs diff=lfs merge=lfs -text
servicio filter=lfs diff=lfs merge=lfs -text
systemd.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema2/ASO-02-01 filter=lfs diff=lfs merge=lfs -text
Niveles filter=lfs diff=lfs merge=lfs -text
competencia filter=lfs diff=lfs merge=lfs -text
shell filter=lfs diff=lfs merge=lfs -text
y filter=lfs diff=lfs merge=lfs -text
órdenes.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema2/ASO-02-02 filter=lfs diff=lfs merge=lfs -text
Linux filter=lfs diff=lfs merge=lfs -text
Fundamentals.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema3/ASO-03-00 filter=lfs diff=lfs merge=lfs -text
Esquema filter=lfs diff=lfs merge=lfs -text
contenidos.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema3/scripts filter=lfs diff=lfs merge=lfs -text
muestra/args_01.sh filter=lfs diff=lfs merge=lfs -text
muestra/args_02.sh filter=lfs diff=lfs merge=lfs -text
muestra/args_03.sh filter=lfs diff=lfs merge=lfs -text
muestra/args_04.sh filter=lfs diff=lfs merge=lfs -text
muestra/array_examples.sh filter=lfs diff=lfs merge=lfs -text
muestra/backup_basename_date.sh filter=lfs diff=lfs merge=lfs -text
muestra/bucle_while.sh filter=lfs diff=lfs merge=lfs -text
muestra/copia_find_00_exec.sh filter=lfs diff=lfs merge=lfs -text
muestra/copia_find_01_orden_empotrada_for.sh filter=lfs diff=lfs merge=lfs -text
muestra/copia_find_02_tuberia_while.sh filter=lfs diff=lfs merge=lfs -text
muestra/copia_find_03_tuberia_while.sh filter=lfs diff=lfs merge=lfs -text
muestra/funciones_examples.sh filter=lfs diff=lfs merge=lfs -text
muestra/lee_passwd.sh filter=lfs diff=lfs merge=lfs -text
muestra/lee_passwd_01.sh filter=lfs diff=lfs merge=lfs -text
muestra/monthcount.sh filter=lfs diff=lfs merge=lfs -text
Teoria/Tema3/ASO-03-01 filter=lfs diff=lfs merge=lfs -text
Fundamentos filter=lfs diff=lfs merge=lfs -text
bash.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema3/ASO-03-02 filter=lfs diff=lfs merge=lfs -text
Bash filter=lfs diff=lfs merge=lfs -text
Reference filter=lfs diff=lfs merge=lfs -text
Manual.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-01 filter=lfs diff=lfs merge=lfs -text
Usuarios filter=lfs diff=lfs merge=lfs -text
grupos filter=lfs diff=lfs merge=lfs -text
resumen.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-02 filter=lfs diff=lfs merge=lfs -text
diapositivas filter=lfs diff=lfs merge=lfs -text
detalladas.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-03 filter=lfs diff=lfs merge=lfs -text
Copias filter=lfs diff=lfs merge=lfs -text
seguridad filter=lfs diff=lfs merge=lfs -text
conceptos filter=lfs diff=lfs merge=lfs -text
básicos.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-04 filter=lfs diff=lfs merge=lfs -text
guía filter=lfs diff=lfs merge=lfs -text
práctica.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-05 filter=lfs diff=lfs merge=lfs -text
Seguridad filter=lfs diff=lfs merge=lfs -text
lógica.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-06 filter=lfs diff=lfs merge=lfs -text
Listas filter=lfs diff=lfs merge=lfs -text
control filter=lfs diff=lfs merge=lfs -text
acceso.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema4/ASO-04-07 filter=lfs diff=lfs merge=lfs -text
SELinux.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-01 filter=lfs diff=lfs merge=lfs -text
Gestión filter=lfs diff=lfs merge=lfs -text
almacenamiento filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-02 filter=lfs diff=lfs merge=lfs -text
LVM, filter=lfs diff=lfs merge=lfs -text
esquema filter=lfs diff=lfs merge=lfs -text
general.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-03 filter=lfs diff=lfs merge=lfs -text
Discos filter=lfs diff=lfs merge=lfs -text
sistemas filter=lfs diff=lfs merge=lfs -text
ficheros.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-04 filter=lfs diff=lfs merge=lfs -text
Cuotas filter=lfs diff=lfs merge=lfs -text
disco filter=lfs diff=lfs merge=lfs -text
(esquema filter=lfs diff=lfs merge=lfs -text
conceptual).pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-05 filter=lfs diff=lfs merge=lfs -text
(how filter=lfs diff=lfs merge=lfs -text
to).pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-06 filter=lfs diff=lfs merge=lfs -text
Espacio filter=lfs diff=lfs merge=lfs -text
swap.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema5/ASO-05-07 filter=lfs diff=lfs merge=lfs -text
Sistemas filter=lfs diff=lfs merge=lfs -text
archivos filter=lfs diff=lfs merge=lfs -text
ext3 filter=lfs diff=lfs merge=lfs -text
ext4.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema6/ASO-06-01 filter=lfs diff=lfs merge=lfs -text
Auditoría filter=lfs diff=lfs merge=lfs -text
monitorización.pdf filter=lfs diff=lfs merge=lfs -text
Teoria/Tema6/ASO-06-02 filter=lfs diff=lfs merge=lfs -text
Control filter=lfs diff=lfs merge=lfs -text
groups filter=lfs diff=lfs merge=lfs -text
(Cgroups).pdf filter=lfs diff=lfs merge=lfs -text
